* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  background-color: #fffcf9;
  color: #172121;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Reset CSS */
button,
input,
textarea {
  padding: 8px 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  background-color: #fffcf9;
  color: #172121;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #7f7b82;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

input::placeholder {
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

strong {
  font-weight: 400;
}

/* header */
.header {
  background-color: #f6d4ba;
  padding: 12px 0;
}

.title {
  font-size: 24px;
  text-align: center;
}

/* main */
/* 입력폼*/
.sidebar {
  margin: 24px auto;
}

.sidebar-title {
  display: none;
}

.division-group,
.date-group,
.price-group,
.content-group {
  margin-bottom: 20px;
}

.division-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.division-group label {
  width: 100%;
  padding: 8px;
  margin-right: 4px;
  border: 1px solid #7f7b82;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.division-group input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

input:checked + label {
  background-color: #d8d8d8;
}

.button-apply {
  width: 100%;
  padding: 8px 0;
  background-color: #fb8f67;
  color: #fffcf9;
  border: none;
}

.button-apply:hover {
  background-color: #ff7f50;
}

/* 리스트 */
.table {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-filter button {
  border: none;
  margin-right: 8px;
}

.underline {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  opacity: 0.5;
  background-color: #7f7b82;
}

.record-lists {
  height: 600px;
  font-size: 14px;
  overflow-y: auto;
}

.record-item {
  margin-bottom: 12px;
}

.record-date {
  display: inline-block;
  margin-bottom: 4px;
}

.record-detail {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 4px;
  border: 1px solid rgba(127, 123, 130, 0.5);
  border-radius: 2px;
}

/* 합계 */
.footer {
  margin: 24px 0;
}

.income,
.expense {
  display: flex;
  justify-content: space-between;
}

.sum-income,
.sum-expense {
  margin-left: 48px;
}

.buttons-edit {
  display: inline-block;
  margin-right: 8px;
  visibility: visible;
}

.button-modification,
.button-deletion {
  padding: 0 4px;
  margin-left: 4px;
  border: 1px solid rgba(127, 123, 130, 0.5);
  border-radius: 2px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row-reverse;
  }

  .section {
    padding: 24px;
  }

  .sidebar-title {
    display: block;
    margin-bottom: 24px;
    font-size: 20px;
  }

  .button-apply {
    margin: 32px 0;
  }

  .footer {
    margin: 0;
  }

  .buttons-edit {
    display: inline-block;
    margin-right: 8px;
    visibility: hidden;
  }
}
