* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b032d;
  color: #fcfcfc;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  text-align: center;
}

label {
  margin-right: 8px;
}

select,
button {
  width: 200px;
  border: none;
  background-color: transparent;
  color: #fcfcfc;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 20px;
  cursor: pointer;
}

thead {
  visibility: hidden;
}

thead td {
  background-color: #fcfcfc;
  color: #0b032d;
}

button:focus,
button:active {
  outline: none;
}

select:hover,
select:focus,
select:active,
tbody td:hover {
  background-color: #274690;
}

.box-office {
  width: 100%;
}

.box-office-header,
.box-office-list-title {
  margin-bottom: 48px;
}

.box-office-title {
  padding: 32px 0;
}

.box-office-date {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #fcfcfc;
}

.box-office-list-title {
  font-size: 20px;
  font-weight: 400;
}

.box-office-list {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.rank-cell {
  width: 200px;
}

.date-cell {
  width: 300px;
}

.fa-search {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  label {
    margin-right: 12px;
  }

  select {
    margin-right: 0;
  }

  .box-office-header,
  .box-office-list-title {
    margin-bottom: 24px;
  }

  .box-office-title {
    padding: 12px 0;
  }

  .box-office-date {
    flex-direction: column;
  }

  .date-group {
    width: 260px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-button {
    width: 260px;
    padding: 8px;
    border-radius: 4px;
    background-color: #274690;
  }

  .rank-cell {
    width: 50px;
  }

  .date-cell {
    width: 100px;
  }
}
